<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd
							http://www.springframework.org/schema/aop
							http://www.springframework.org/schema/aop/spring-aop.xsd
							http://www.springframework.org/schema/tx
							http://www.springframework.org/schema/tx/spring-tx.xsd
							http://www.springframework.org/schema/util
							http://www.springframework.org/schema/util/spring-util.xsd">

<!--Mybatis 和 Spring整合
1、配置数据源：数据库连接池  配置数据库的四大属性
2、SqlSessionFactoryBean： 加载数据源、插件...., 创建SqlSession对象
3、MapperScannerConfigurer：扫描Mapper的映射文件和接口，为之完成Mapper代理
    Mapper代理规范：
        1） 接口所在的路径和映射文件的路径要完全一致
        2） 接口的全类名和映射文件的名称保持一致
        3） 接口的方法名称和映射文件的 statementID 保持一致
        4） 接口的方法返回值类型和映射文件的 resultType 保持一致（resultMap）  【可选】
        5） 接口的方法参数类型和映射文件的 paramType 保持一致  【可选】
-->

    <!--0 加载属性配置文件-->
    <context:property-placeholder location="classpath*:db.properties"/>

    <!--1、数据源-->
    <bean id="dataSource"
          class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
    </bean>

    <!--2、spring和mybatis整合的工厂bean-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--Mybatis 3.0 之后移除-->
        <property name="configLocation" value="classpath:SqlMapConfig.xml" />

        <!--包扫描-->
        <property name="typeAliasesPackage" value="com.itheima.health.pojo"/>

    </bean>

    <!--3、批量扫描接口生成代理对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定接口所在的包-->
        <property name="basePackage" value="com.itheima.health.mapper" />
    </bean>

</beans>
